<section class="container" id="top">
  <section class="row">
    <h3 class="text-dark text-center my-5" data-aos="fade-up">
      Trabajos Medio Punto
    </h3>
    <nav
      class="nav nav-pills mb-3"
      id="pills-tab"
      role="tablist"
      data-aos="flip-up"
    >
      <li class="nav-item" role="navigation" *ngFor="let item of navItem">
        <button
          class="nav-link active"
          [id]="'pills-' + item.id + '-tab'"
          type="button"
          role="tab"
          (click)="filtrarImagenes(item.id)"
          [class.active]="filtroActual === item.id"
          [attr.aria-label]="'Filtro' + item.text"
        >
          {{ item.text }}
        </button>
      </li>
    </nav>
  </section>
  <section class="row my-5">
    <div
      class="col-md-4 my-3"
      *ngFor="let image of images"
      [ngClass]="{
        'd-none': filtroActual !== 'todos' && image.category !== filtroActual
      }"
    >
      <div class="card">
        <a
          (click)="openModal(image.id)"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          <img
            [ngSrc]="image.url[0]"
            width="448"
            height="398"
            class="card-image"
            [alt]="image.url"
          />
        </a>
      </div>
    </div>
  </section>
</section>
<app-modal [title]="modalTitle" [url]="modalUrl" [id]="modalId"></app-modal>
