p {
  margin: 0;
}

section {
  background-color: #f4f6fa;
  border-radius: 25px;
  padding: 4rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-azul {
  color: #fff;
  border-radius: 3px;
  width: 163px;
  height: 45px;
  background: #96c2db;
}

.btn-azul:hover {
  border: 1px solid #96c2db;
  color: #96c2db;
  background: none;
  transition: all 0.2s ease-in-out;
}

.img-card {
  max-width: 160px;
}
.text-info-about {
  color: #96c2db;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .image-about,
  img {
    display: none;
  }
  .container {
    justify-content: center;
  }
  .col-4 {
    flex: none;
    width: 60%;
  }
}
@media (max-width: 780px) {
  .container {
    justify-content: center;
  }
}
@media (max-width: 748px) {
  .container {
    justify-content: center;
  }
}
