<section class="mx-5 my-5" id="about">
  <div class="container">
    <div>
      <p class="text-info-about">Sobre nosotros</p>
      <h2 class="text-gris text-uppercase fw-bold">
        Amigurumis personalizados
      </h2>
      <p>
        Medio Punto es un emprendimiento destinado a la venta de peluches
        artesanales hechos al crochet.
      </p>
      <p class="mb-2">
        Ofrecemos personalización en colores para hacer tu peluche único.
        ¡Permítenos crear algo especial para ti!
      </p>
      <a
        href="#top"
        routerLink="/contacto"
      >
        <button class="btn btn-azul">Contactanos</button>
      </a>
    </div>
    <div class="imagen-about">
      <img
        srcset="/assets/about.webp"
        ngSrc="/assets/about.webp"
        class="img-fluid"
        width="600"
        height="450"
        alt="about imagen"
      />
    </div>
  </div>
</section>
