<nav class="navbar navbar-expand-lg shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand nav-title logo" href="#">
      <img src="../../../assets/logo.webp" class="img-navbar d-inline-block" alt="logo"/>
      Medio Punto</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="bx bx-menu"></span>
    </button>
    <div
      class="collapse navbar-collapse text-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a
            class="nav-link text"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/home"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text"
            routerLinkActive="active"
            routerLink="/trabajos"
            >Trabajos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text"
            routerLinkActive="active"
            routerLink="/contacto"
            >Contacto</a
          >
        </li>
      </ul>

      <div>
        <a class="nav-link" href="/home#about" routerLinkActive="about">
          <button class="btn button-outline-grey">Sobre nosotros</button>
        </a>
      </div>
    </div>
  </div>
</nav>
