.active {
  color: #c65471;
}
svg {
  height: 20px;
  width: 20px;
}
.logo {
  color: #c65471;
  font-family: "another shabby";
}
.img-navbar {
  height: 40px;
  width: 40px;
}
.button-outline-grey {
  border: 1px solid #b5b7b6;
  border-radius: 20px;
  width: 155px;
}
.button-outline-grey:hover {
  background-color: #b5b7b6;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
