.container {
  padding-top: 10rem;
}
.courses-container {
  display: flex;
  text-align: center;
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 10px;
  max-width: 500px;
}

.course-info {
  padding: 30px;
}

@media (max-width: 986px) {
  .courses-container {
    justify-content: center;
  }

  .col-md-4 {
    flex: none;
    width: 100%;
  }
}
