<section class="container" id="top">
  <div class="row">
    <div class="text-center fw-bold mt-5">
      <h3 class="text-dark" data-aos="fade-up">F.A.Q</h3>
      <P data-aos="flip-up">Preguntas frecuentes</P>
    </div>

    <div class="accordion" id="accordionExample">
      <div
        class="accordion-item my-4"
        *ngFor="let collapse of collapses"
        data-aos="zoom-in-down"
      >
        <h2 class="accordion-header" [id]="'heading' + collapse.id">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            attr.data-bs-target="#collapse{{ collapse.id }}"
            attr.aria-controls="collapse{{ collapse.id }}"
          >
            {{ collapse.title }}
          </button>
        </h2>
        <div
          [id]="'collapse' + collapse.id"
          class="accordion-collapse collapse"
          attr.aria-labelledby="'heading' + {{ collapse.id }} "
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p [innerHTML]="collapse.description"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <p>
        Si quieres hacerme otras preguntas <a href="/contacto">contacteme</a>.
      </p>
    </div>
  </div>
</section>
