<section class="container py-5" id="top">
  <div class="row">
    <div class="col-lg-6 text-jumbo">
      <h1 class="text-gris fw-bold">
        Los Amigurumis <br />
        son un regalo
        <br /><span class="text-naranja fw-bold">perfecto</span>
        <img
          ngSrc="assets/osito-de-peluche.webp"
          width="130"
          height="58"
          class="img-ami"
          alt="osito"
        />
      </h1>

      <a
        href="#about"
        type="button"
        class="btn btn-naranja mx-2 my-3"
      >
        Leer más
      </a>
      <a
        routerLink="/trabajos"
        type="button"
        class="btn btn-outline-celeste my-3"
      >
        Trabajos
      </a>
    </div>

    <div class="col-lg-6">
      <img
        ngSrc="assets/jumbotron.webp"
        width="1758"
        height="1080"
        class="img-fluid img-jumbo"
        alt="imagen bienvenida"
      />
    </div>
  </div>
</section>
