<section class="container" id="inicio">
  <div class="row py-5 my-5 mx-4">
    <div class="col my-5 py-5 text-jumbo">
      <h3 class="text-gris text-42 fw-bold">
        Los Amigurumis
        <br />son un regalo <br />
        <span class="text-naranja">perfecto</span>
        <img
          src="../../../assets/osito-de-peluche.webp"
          class="mx-2 img-ami"
          alt="osito"
        />
      </h3>
      <a SmoothScroll [scrollTo]="'about'" [duration]="1000"
        ><button class="btn btn-naranja mx-4 my-2 text-center">
          Leer más
        </button></a
      >
      <a routerLink="/trabajos"
        ><button class="btn btn-outline-celeste my-2 text-center">
          Trabajos
        </button></a
      >
    </div>
    <div class="col mb-5 img">
      <img
        src="../../../assets/jumbotron.webp"
        class="img-jumbo"
        alt="imagen bienvenida"
      />
    </div>
  </div>
</section>
