.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.137) 0px 19px 38px,
    rgba(0, 0, 0, 0.11) 0px 15px 12px;
  border: none;
}
.modal-header {
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: none;
}
img {
  border-radius: 15px;
}

.modal-title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
