<section class="container">
  <hr class="my-5" />
  <h2 class="text-center fw-bold text-gris">Nuestros modelos</h2>
  <div class="row my-5">
    <div class="col-md-4">
      <div class="game">
        <div class="front">
          <img src="../../../assets/pulpos-modelos.webp" alt="pulpos modelo" />
          <h3 class="name">Pulpos</h3>
        </div>
        <div class="back">
          <a routerLink="/trabajos">
            <button class="btn btn-naranja my-5">Ver Todos</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="game">
        <div class="front">
          <img src="../../../assets/coneja-modelos.webp" alt="conejos modelo" />
          <h3 class="name">Conejos</h3>
        </div>
        <div class="back">
          <a routerLink="/trabajos">
            <button class="btn btn-naranja my-5">Ver Todos</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="game">
        <div class="front">
          <img src="../../../assets/osos-modelo.webp" alt="osos modelo" />
          <h3 class="name">Osos</h3>
        </div>
        <div class="back">
          <a routerLink="/trabajos">
            <button class="btn btn-naranja my-5">Ver Todos</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>