section {
  padding-top: 10rem;
}
.card {
  border: none;
}
img {
  border-radius: 12px;
}
.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content p {
  margin-top: 10px;
  color: #c65471;
  font-weight: 700;
}
.btn-link {
  border-radius: 100%;
  color: #c65471;
}
.btn-link:hover {
  background-color: #c65471;
  transition: all 0.3s ease-in-out;
}
.btn-link:hover svg {
  fill: #ffff;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1000px) {
  .col-md-4 {
    flex: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
}
