<section class="container" id="contact" #contact>
  <div class="row">
    <div class="text-center">
      <h3 class="text-dark mt-5">Contacto</h3>
      <p>Si tienes alguna pregunta no dudes en contactarnos.</p>
    </div>

    <div class="col my-5">
      <form
        (ngSubmit)="onSubmit($event)"
        [formGroup]="contactForm"
        class="contact100-form validate-form"
      >
        <div
          class="wrap-input100 validate-input"
          [ngClass]="{'alert-validate': contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required'] ,'true-validate ': contactForm.get('name')?.touched && contactForm.get('name')?.valid}"
          data-validate="Por favor introduce tu nombre"
        >
          <input
            class="input100"
            type="text"
            name="name"
            id="name"
            placeholder="Nombre"
            formControlName="name"
            required
          />
          <span class="focus-input100"></span>

          <span
            *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']"
            class="btn-hide-validate bx bx-x-circle"
          ></span>
          <span
            *ngIf="
              contactForm.get('name')?.touched && contactForm.get('name')?.valid
            "
            class="btn-validate bx bx-check-circle"
          ></span>
        </div>
        <div
          class="wrap-input100 validate-input"
          [ngClass]="{'alert-validate': contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required'] ,'true-validate ': contactForm.get('email')?.touched && contactForm.get('email')?.valid}"
          data-validate="Por favor introduce tu email: e@a.x"
        >
          <div
            class="wrap-input100 validate-input"
            [ngClass]="{
              'true-validate':
                contactForm.get('email')?.touched &&
                contactForm.get('email')?.valid
            }"
          ></div>
          <input
            class="input100"
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            required
            formControlName="email"
          />
          <span class="focus-input100"></span>

          <span
            class="btn-validate bx"
            [ngClass]="{'bx-check-circle': contactForm.get('email')?.touched && contactForm.get('email')?.valid, 'bx-x-circle': contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']}"
          ></span>
        </div>

        <div
          class="wrap-input100 validate-input"
          [ngClass]="{'alert-validate': contactForm.get('message')?.touched && contactForm.get('message')?.errors?.['required'] ,'true-validate ': contactForm.get('message')?.touched && contactForm.get('message')?.valid}"
          data-validate="Por favor introduce tu mensaje"
        >
          <textarea
            class="input100"
            name="message"
            id="message"
            placeholder="Mensaje"
            required
            formControlName="message"
          ></textarea>
          <span class="focus-input100"></span>
          <span
            *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.errors?.['required']"
            class="btn-hide-validate bx bx-x-circle"
          ></span>
          <span
            *ngIf="
              contactForm.get('message')?.touched &&
              contactForm.get('message')?.valid
            "
            class="btn-validate bx bx-check-circle"
          ></span>
        </div>
        <div class="container-contact100-form-btn">
          <button
            type="submit"
            [disabled]="contactForm.invalid"
            [ngClass]="{
              'contact100-form-btn': contactForm.valid,
              'contact100-form-btn-invalid': contactForm.invalid
            }"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>

    <div class="col my-5">
      <div
        class="courses-container d-flex align-items-center justify-content-center"
      >
        <div class="course">
          <div class="course-info">
            <img
              ngSrc="/assets/oficina.webp"
              srcset="/assets/oficina.webp"
              class="pt-4 mt-2"
              alt="Redes sociales imagen"
            />
            <h5 class="ms-4 ps-5 text-dark mt-3">Redes sociales</h5>

            <p class="ms-4 ps-5 mb-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="#666666"
                viewBox="0 0 256 256"
                class="me-1"
              >
                <rect width="256" height="256" fill="none"></rect>
                <circle
                  cx="128"
                  cy="128"
                  r="34"
                  fill="none"
                  stroke="#666666"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="24"
                ></circle>
                <rect
                  x="32"
                  y="32"
                  width="192"
                  height="192"
                  rx="48"
                  fill="none"
                  stroke="#666666"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="24"
                ></rect>
                <circle cx="180" cy="76" r="16"></circle></svg
              >medio_punto_amigurumi
              <br />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="#666666"
                viewBox="0 0 256 256"
                class="me-1"
              >
                <rect width="256" height="256" fill="none"></rect>
                <circle
                  cx="128"
                  cy="128"
                  r="96"
                  fill="none"
                  stroke="#666666"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="24"
                ></circle>
                <path
                  d="M168,88H152a23.9,23.9,0,0,0-24,24V224"
                  fill="none"
                  stroke="#666666"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="24"
                ></path>
                <line
                  x1="96"
                  y1="144"
                  x2="160"
                  y2="144"
                  fill="none"
                  stroke="#666666"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="24"
                ></line></svg
              >Daniela Guiffrey
            </p>

            <img
              ngSrc="/assets/email.webp"
              srcset="/assets/email.webp"
              class="pt-1"
              alt="email imagen"
            />
            <h5 class="ms-4 ps-5 text-dark mt-4">Email</h5>
            <p class="ms-4 ps-5 mb-5">mediopuntoamigurumi@gmail.com</p>

            <img
              ngSrc="/assets/ubicacion.webp"
              srcset="/assets/ubicacion.webp"
              class="pt-1"
              alt="ubicacion imagen"
            />
            <h5 class="ms-4 ps-5 text-dark mt-4">Localicación</h5>
            <p class="ms-4 ps-5">
              Villa Elisa, Entre Riós, <br />
              Argentina
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
