<section class="container" class="mx-5">
  <div class="row">
    <div class="text-center">
      <h3 class="text-dark mt-5">Contacto</h3>
      <p>Si tienes alguna pregunta no dudes en contactarnos.</p>
    </div>

    <div class="col my-5">
      <form
        (ngSubmit)="onSubmit($event)"
        [formGroup]="contactForm"
        class="contact100-form validate-form"
      >
        <div
          class="wrap-input100 validate-input"
          [ngClass]="{'alert-validate': contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required'] ,'true-validate ': contactForm.get('name')?.touched && contactForm.get('name')?.valid}"
          data-validate="Por favor introduce tu nombre"
        >
          <input
            class="input100"
            type="text"
            name="name"
            id="name"
            placeholder="Nombre"
            formControlName="name"
            required
          />
          <span class="focus-input100"></span>

          <span
            *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']"
            class="btn-hide-validate bx bx-x-circle"
          ></span>
          <span
            *ngIf="
              contactForm.get('name')?.touched && contactForm.get('name')?.valid
            "
            class="btn-validate bx bx-check-circle"
          ></span>
        </div>
        <div
          class="wrap-input100 validate-input"
          [ngClass]="{'alert-validate': contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required'] ,'true-validate ': contactForm.get('email')?.touched && contactForm.get('email')?.valid}"
          data-validate="Por favor introduce tu email: e@a.x"
        >
          <div
            class="wrap-input100 validate-input"
            [ngClass]="{
              'true-validate':
                contactForm.get('email')?.touched &&
                contactForm.get('email')?.valid
            }"
          ></div>
          <input
            class="input100"
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            required
            formControlName="email"
          />
          <span class="focus-input100"></span>

          <span
            class="btn-validate bx"
            [ngClass]="{'bx-check-circle': contactForm.get('email')?.touched && contactForm.get('email')?.valid, 'bx-x-circle': contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']}"
          ></span>
        </div>

        <div
          class="wrap-input100 validate-input"
          [ngClass]="{'alert-validate': contactForm.get('message')?.touched && contactForm.get('message')?.errors?.['required'] ,'true-validate ': contactForm.get('message')?.touched && contactForm.get('message')?.valid}"
          data-validate="Por favor introduce tu mensaje"
        >
          <textarea
            class="input100"
            name="message"
            id="message"
            placeholder="Mensaje"
            required
            formControlName="message"
          ></textarea>
          <span class="focus-input100"></span>
          <span
            *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.errors?.['required']"
            class="btn-hide-validate bx bx-x-circle"
          ></span>
          <span
            *ngIf="
              contactForm.get('message')?.touched &&
              contactForm.get('message')?.valid
            "
            class="btn-validate bx bx-check-circle"
          ></span>
        </div>
        <div class="container-contact100-form-btn">
          <button
            type="submit"
            [disabled]="contactForm.invalid"
            [ngClass]="{
              'contact100-form-btn': contactForm.valid,
              'contact100-form-btn-invalid': contactForm.invalid
            }"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>

    <div class="col">
      <div class="courses-container">
        <div class="course">
          <div class="course-info" *ngFor="let course of courses">
            <div class="course-image">
              <img
                [ngSrc]="course.image"
                width="53"
                height="53"
                class="img-fluid"
                [alt]="course.alt"
              />
            </div>

            <div class="course-content">
              <h5 class="text-dark">{{ course.h5 }}</h5>

              <p class="mb-5" [innerHTML]="course.p"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
