@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@500&display=swap");

@font-face {
  font-family: "another shabby";
  src: local("another shabby"),
    url("assets/fonts/Anothershabby_trial.woff") format("woff");
  font-display: swap;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #c65471 #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5a5a5a;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c65471;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

html {
  scroll-behavior: smooth !important;
}
.accordion-link {
  color: #c65471;
  text-decoration: none;
}
.accordion-link:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
nav-link,
.text {
  text-decoration: none;
  color: #b5b7b6;
}
nav-link,
.text:hover {
  color: #c65471;
  transition: all 0.2s ease-in-out;
}

.text-gris {
  color: #424345;
}

.text-naranja {
  color: #c65471;
}
